{% extends 'base.html' %}
{% block title %}Мой профиль{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
        {% include 'includes/card_author.html' %}
        </div>

        <div class="col-md-9">
            {% for post in page %}
                {% include "includes/post_item.html" with post=post %}
            {% endfor %}
            {% include 'includes/paginator.html' with items=page %}
        </div>
    </div>
</main>
{% endblock %}
